{% extends 'base/base_front.html' %}

{% block head %}
    <link href="{% static 'css/about.css' %}" rel="stylesheet">
    <link href="{% static 'css/m.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/ab.js' %}"></script>
{% endblock %}

{% block title %}
关于我
{% endblock %}

{% block article %}
<article>
  <div class="photowall">
    <ul class="wall_a">
      <li><a href="/"><img src="{% static 'images/1.jpg' %}">
        <figcaption>
          <h2>不再因为别人过得好而焦虑，在没有人看得到你的时候依旧能保持节奏 </h2>
        </figcaption>
        </a></li>
      <li>
        <p class="text_b"><a href="/">逃避自己的人，最终只能导致自己世界的崩塌，而变得越来越没有安全感。</a></p>
      </li>
      <li><a href="/"><img src="{% static 'images/3.jpg' %}">
        <figcaption>
          <h2>不再因为别人过得好而焦虑，在没有人看得到你的时候依旧能保持节奏 </h2>
        </figcaption>
        </a></li>
      <li>
        <p class="text_b"><a href="/">逃避自己的人，最终只能导致自己世界的崩塌，而变得越来越没有安全感。</a></p>
      </li>
      <li>
        <p class="text_b"><a href="/">逃避自己的人，最终只能导致自己世界的崩塌，而变得越来越没有安全感。</a></p>
      </li>
      <li><a href="/"><img src="{% static 'images/5.jpg' %}">
        <figcaption>
          <h2>不再因为别人过得好而焦虑，在没有人看得到你的时候依旧能保持节奏 </h2>
        </figcaption>
        </a></li>
      <li>
        <p class="text_b"><a href="/">逃避自己的人，最终只能导致自己世界的崩塌，而变得越来越没有安全感。</a></p>
      </li>
      <li><a href="/"><img src="{% static 'images/6.jpg' %}">
        <figcaption>
          <h2>不再因为别人过得好而焦虑，在没有人看得到你的时候依旧能保持节奏 </h2>
        </figcaption>
        </a></li>
    </ul>
  </div>
  <div class="abox">
  <h2>博主简介</h2>
  <div class="biji-content" id="content"> {{ user.username }}，{{ user_information.sex }}，{{ user_information.introduction | striptags}} </div>
  <div class="navlist">
    <ul>
      <li class="navcurrent"><a href="#top1">基本信息</a> </li>
      <li> <a href="#top2" >工作技能</a> </li>
    </ul>
  </div>
  <div class="navtab">
    <div class="navitem" style="display: block;" name = "top1">
      <div class="content">
        <p>网名：{{ user.username }}</p>
        <p>职业：{{ experience.position }} </p>
                <p>邮箱：{{ user_information.email }}</p>
        <p>个人微信：</p>
        <p><img src="{{ user_information.wechat }}" width="200px" height="200px"></p>

      </div>
    </div>
    <div class="navitem" name = "top2">
      <div class="content">
        <p class="ab_t">工作技能：</p>
        <p>{{ experience.work_skill_one }}</p>
        <p>{{ experience.work_skill_two }}</p>
        <p>{{ experience.work_skill_three }}</p>
        <p>{{ experience.work_skill_four }}</p>
        <p>{{ experience.work_skill_five }}</p>
      </div>
    </div>
  </div>
 </div>
</article>
{% endblock %}