
{% extends 'base/base_front.html' %}

{% block title %}
时间轴
{% endblock %}

{% block head %}
<link href="{% static 'css/time.css' %}" rel="stylesheet">
<script src="{% static 'js/time.js' %}" ></script>
{% endblock %}

{% block article %}
<article>
  <div class="timebox">
    <ul>
        {% for article in allArticle %}
            <li><span>{{ article.pub_time|date:"Y-m-d" }}</span><i><a href="{% url 'article:article_detail' article_id=article.pk %}" target="_blank">{{ article.title }}</a></i></li>
        {% endfor %}
    </ul>
  </div>
  <div class="pagelist"><a title="Total record">&nbsp;<b>160</b> </a>&nbsp;&nbsp;&nbsp;<b>1</b>&nbsp;<a href="/jstt/index_2.html">2</a>&nbsp;<a href="/jstt/index_3.html">3</a>&nbsp;<a href="/jstt/index_4.html">4</a>&nbsp;<a href="/jstt/index_5.html">5</a>&nbsp;<a href="/jstt/index_6.html">6</a>&nbsp;<a href="/jstt/index_2.html">下一页</a>&nbsp;<a href="/jstt/index_14.html">尾页</a></div>
</article>
{% endblock %}